$breakpoint-tablet: 361px;
$breakpoint-desktop-small: 769px;
$breakpoint-desktop-large: 1367px;

$hover-transition: scale .3s ease-in-out;
$color-background: #efe1d9;
$color-red-light: #c23c48;
$color-red-dark: #b42638;
$color-yellow: #eba13d;
$color-green: #003b2d;

