$breakpoint-tablet: 768px;
$breakpoint-desktop-small: 1000px;
$breakpoint-desktop-large: 1440px;

$hover-transition: scale 0.3s ease-in-out;
$color-background: #efe1d9;
$color-red-light: #c23c48;
$color-red-dark: #b42638;
$color-yellow: #eba13d;
$color-green: #003b2d;
